<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    
    <!-- 
            Path to the Branches.xml and Training.xml data files. 
            If not supplied, will default to searching for these files in the application directory.
    -->
    <add key="RepositoryURI" value="svn://launcher.fas.au.challenger.net/fas/onevuereleases2009/"/>
    <add key="BranchesXMLPath" value="\\CSSYDA900\systems\onevue\OneVueLauncher\Branches.xml"/>
    <add key="TrainingXMLPath" value="C:\FAS\fas_tools\GitPlayArea\onevuelauncher\bin\Data\Training.xml"/>
    <add key="WorkingDirectoryPath" value="U:\OneVueLauncherWorking"/>

    <!--
    <add key="RepositoryURI" value="svn://launcher.fas.au.challenger.net/fas/onevuereleases2009/"/>
    <add key="BranchesXMLPath" value="\\CSSYDA900\systems\onevue\AmbitLauncher\Branches.xml"/>
    <add key="WorkingDirectoryPath" value="U:\AmbitLauncherWorking"/>

    <add key="ApplicationTitle" value="Ambit Launcher"/>
    <add key="IncludeProduction" value="False"/>
    <add key="IncludeTraining" value="False"/>

    <add key="BackColour" value="Lavender"/>
    -->

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
